.Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;

}

.roomItem {
    display: inline-flex;
    padding: 20px 30px 30px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.nameRoom {
    text-align: center;
}

.roomDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.occupiedStatus,
.avaliableStatus {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.occupiedStatus {
    border-radius: 50px;
    background: #F00;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.25px;
}

.showDetails {
    color: #2565DC;
}


.avaliableStatus {
    border-radius: 50px;
    background: #12D68F;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.25px;
}

.Header {
    display: flex;
    flex-direction: row;
    flex-flow: column;
    justify-content: space-between;
    gap: 15px;
    margin-inline: 50px;
}

.groupLogoMenu {
    display: flex;
    flex-direction: column;
}

.Logo {
    display: flex;
    align-self: flex-start;
    margin-top: 25px;
}

.Nav {
    display: flex;
    flex-direction: row;
}

.menuNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.menuOpts {
    display: flex;
    gap: 40px;
}

.menuOpts li a {
    display: inline-block;
    text-decoration: none;
    padding: 16px 0px;
    color: #000;
}

.menuOpts li a:hover {
    color: #2565DC;
}

.menuOpts li {
    list-style: none;
}

.selectFloor {
    display: flex;
    align-self: center;
}

.radioButton {
    display: none;
}

.radioButtonLabel {
    margin: 10px;
    margin-right: 10px;
    font-size: medium;
    cursor: pointer;
}

@media (max-width: 768px) {
    .Container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-bottom: 100px;
    }

    .roomItem {
        display: inline-flex;
        padding: 20px 30px 30px 30px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 15px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: none;
        margin: 10px;
    }

    .showDetails {
        display: none;
    }

    .Logo {
        display: none;
    }

    .Header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-inline: 50px;
    }

    .menuNav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100px;
        overflow: hidden;
    }

    .menuOpts {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        gap: 40px;
        background-color: #007bff;
        padding: 10px;
        border-radius: 6px;
    }

    .menuOpts li {
        list-style: none;
    }

    .menuOpts li a {
        display: inline-block;
        text-decoration: none;
        padding: 16px 0px;
        color: #fff;
    }

    .menuOpts li a:hover {
        color: #2565DC;
    }

    .selectFloor {
        display: flex;
        align-self: center;
    }
}